// Parent element
.navbar {
    background-color: #111;
    display: flex;
    justify-content: flex-end;
    align-items: center;

    .nav-links {
        display: flex;
        align-items: center;
    }

    .nav-item {
        padding: 10px;
        margin: 10px 10px;
        text-align: center;
        top: 0;
        height: 20px;
        line-height: 20px;
    }

    @media all and (max-width: 600px) {

        .nav-links {
            flex-wrap: wrap;
        }

        .nav-item {
            flex-basis: 50%;
        }

    }

    @media all and (max-width: 400px) {

        .nav-item {
            flex-basis: 100%;
        }

    }

}